#graphic {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#water-graphic {
  position: relative;
  height: 250px;
  width: 400px;
  border: solid 5px #000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  z-index: -10;
}

.channel {
  height: 90%;
  width: 12%;
  margin: 0 5px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 5px;
}

#control-rod {
  height: 0%;
  width: 100%;
  background-color: #9ecfff;
}

.fuel-rod {
  width: 100%;
  height: 100%;
}